* {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  box-sizing: border-box;
  font-size: 24px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

div {
  width: 100%;
  margin-bottom: 50px;
}

h1 {
  text-align: center;
  font-size: 42px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid grey;
  text-align: center;
}

#add_new_link, button {
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #62B47D;
  color: white;
  cursor: pointer;
}

#add_new_link:hover, button:hover {
  background-color: #31703C;
}

#add_new_link:active, button:active {
  background-color: #F5F2D3;
}

#add_new_link {
  display: block;
  text-align: center;
  text-decoration: none;
}

form {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  width:70%;
  margin: auto;
}

input {
  padding: 10px;
  border: 1px solid grey;
}

input[type="checkbox"] {
  width: 44px;
  height: 44px;
}

img {
  display: block;
  margin: auto;
}

.search_form {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.search_input {
  width: 85%;
}

.search_button {
  width: 10%;
}

select {
  line-height: 24px;
  padding:10px;
}

a {
  color: green;
}
