<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
    <meta charset="utf-8"/>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Balance</th>
        <th>Animal Type</th>
        <th>Is King?</th>
        <th>Is Good Guy?</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="bankAccount : ${bankAccounts}">
        <td th:text="${bankAccountStat.count}"></td>
        <td th:text="${bankAccount.name}"></td>
        <td th:text="${#numbers.formatDecimal(bankAccount.balance, 1, 'DEFAULT', 2,'DEFAULT')} + ' $'"></td>
        <td th:text="${bankAccount.animalType}"></td>
        <td th:text="${bankAccount.king} ? 'yes' : 'no'"></td>
        <!--        <td th:switch="${bankAccount.isGoodGuy}">-->
        <!--            <p th:case='false' th:style="'color : red'">bad guy</p>-->
        <!--            <p th:case='true'>good guy</p>-->
        <!--        </td>-->
        <td th:text="${bankAccount.isGoodGuy} ? 'good guy' : 'bad guy' "></td>
    </tr>
    </tbody>
</table>
</body>
</html>
