* {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  box-sizing: border-box;
  font-size: 24px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

div {
  width: 100%;
  margin-bottom: 50px;
}

h1 {
  text-align: center;
  font-size: 42px;
}

form {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  width:70%;
  margin: auto;
}

input {
  padding: 10px;
  border: 1px solid grey;
}

button, #add_new_link {
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #215CB5;
  color: white;
  cursor: pointer;
}

button:hover, #add_new_link:hover {
  background-color: #5995DA;
}

p {
  text-align: center;
}

table {
  width: 100%;
}

th, td {
  padding: 10px;
  text-align: center;
}

#add_new_link {
  display: block;
  text-align: center;
  text-decoration: none;
}

img {
  display: block;
  margin: auto;
}

#page_navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50%;
}

a:link {
  color: #215CB5;
}

a:hover {
  color: #5995DA;
}

a:active {
  color: #215CB5;
}
