<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reddit | Login</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
    <meta charset="UTF-8">
</head>
<body>
<div>
    <h1>Login</h1>
</div>
<div>
    <form th:action="@{/reddit/login}" method="post">
        <label for="username"></label>
        <input id="username" name="username" type="text" placeholder="Username..." required>
        <label for="password"></label>
        <input id="password" name="password" type="text" placeholder="Password..." required>
        <button>Login</button>
    </form>
</div>
<div>
    <p th:text="${message} ? ${message}" th:style="'color: red;'"></p>
</div>
</body>
</html>
