<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>P2P Chat | Register</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
    <meta charset="UTF-8">
</head>
<body>
<div>
    <h1>Enter</h1>
</div>
<div>
    <form th:action="@{/register}" th:object="${user}" method="post">
        <label for="username" hidden></label>
        <input id="username" type="text" name="username" th:field="*{username}"
               placeholder="Choose your username...">
        <button type="submit">Enter</button>
    </form>
</div>
<div th:if="${message}">
    <p th:text="${message}"></p>
</div>
</body>
</html>
