<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Todo Application | Assignees</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
    <meta charset="utf-8"/>
</head>
<body>
<div>
    <h1>Assignees</h1>
</div>
<div>
    <form class="search_form" th:action="@{/assignees/search}" method="post">
        <label for="name" hidden></label>
        <input class="search_input" id="name" name="name" type="text" placeholder="Search by name..." required>
        <button class="search_button"><img th:src="@{/search.svg}" alt="Search Icon"></button>
    </form>
</div>
<div>
    <a id="add_new_link" th:href="@{/assignees/add}">Add New Assignee</a>
</div>
<div>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="assignee : ${assignees}">
            <td th:text="${assignee.id}"></td>
            <td><a th:href="@{|/assignees/todos_of_assignee/${assignee.id}|}" th:text="${assignee.name}"></a></td>
            <td th:text="${assignee.email}"></td>
            <td><a th:href="@{|/assignees/delete/${assignee.id}|}"><img th:src="@{/trash.svg}" alt="Trash Icon"></a></td>
            <td><a th:href="@{|/assignees/edit/${assignee.id}|}"><img th:src="@{/edit.svg}" alt="Edit Icon"></a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
