<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Todo Application | Edit Todo</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
    <meta charset="utf-8"/>
</head>
<body>
<div>
    <h1>Edit Todo</h1>
</div>
<div>
    <form th:action="@{|/todos/edit/${id}|}" th:object="${todo}" method="post">
        <label for="title">Title:</label>
        <input id="title" name="title" type="text" th:field="*{title}">
        <label for="assignee">Assignee:</label>
        <select id="assignee" name="assignee">
            <option th:value="null">N/A</option>
            <option th:each="assignee : ${assignees}" th:text="${assignee.name}" th:value="${assignee.id}"
                    th:selected="${assignee.id} == ${todo.assignee?.id}">
            </option>
        </select>
        <label for="due_date">Due Date:</label>
        <input id="due_date" name="due_date" type="date" th:field="*{dueDate}">
        <label for="urgent">Urgent:</label>
        <input id="urgent" name="urgent" type="checkbox" th:field="*{urgent}">
        <label for="done">Done:</label>
        <input id="done" name="done" type="checkbox" th:field="*{done}">
        <button>Update</button>
    </form>
</div>
</body>
</html>
